<!DOCTYPE html>
<html>
<head>
  <title>FP QUIZ TK</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="transparentbg">
      <h1>Bulldogs are awesome because...</h1>
    </div>
  </header>

  <div class="container thoughts">
    <% if flash[:error].present? %>
    <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
      <%= flash[:error] %>
    </div>
    <% end %>
    <%= yield %>
  </div>

<div class="container">
  <center>
      <%= link_to root_path do %>
      <button class="btn btn-primary btn-lg">
        What else?
      </button>
          <% end %>
      <!-- Button trigger modal -->
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        I have something to say!
      </button>
  </center>
<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Why do you think bulldogs are awesome?</h4>
        </div>
        <div class="modal-body">
          <%= simple_form_for Post.new do |f| %>
            <%= f.input :thoughts %>
            <br />
            <%= f.submit 'Add', :class => 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
</div>

</body>
</html>
