<!DOCTYPE html>
<html>
<head>
  <title>FP QUIZ TK</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="transparentbg">
      <h1>Bulldogs are Awesome</h1>
    </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <div class="container">
      <%= link_to root_path do %>
    <div class="col-xs-6 button">
      <br /><br />
      What else?
    </div>
    <% end %>
    <%= link_to new_post_path do %>
    <div class="col-xs-6 button">
      <br />
      I have something to add!
    </div>
    <% end %>
  </div>

  <div class ="footer">
    <p>FOOTER</p>
  </div>

</body>
</html>
